.list-view {
	.list-container {
		.header {
			background: var(--surface);
			display: table-row-group;
			width: 100%;

			&.loading {
				opacity: 0.65;
			}

			.check-all {
				padding: 0 1rem;

				.pui-checkbox--label {
					justify-content: center;
				}
			}

			.actions {
				height: 26px;
				visibility: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;

				&.show {
					visibility: visible;
				}

				button {
					padding: 0 0.6rem;
					min-height: 0px;

					.button-label {
						display: flex;
						align-items: center;
						justify-content: center;

						svg {
							stroke: var(--on-surface);
							width: 20px;
							height: 20px;
						}
					}
				}
			}

			li {
				display: table-cell;
				padding: 0.5rem 0;
				border-top: 1px solid var(--outline);
				border-bottom: 1px solid var(--outline);
				height: 26px;
			}

			li:first-child {
				border-left: 1px solid var(--outline);
			}

			li:last-child {
				border-right: 1px solid var(--outline);
			}
		}
	}
}
