.list-view {
	.list-container {
		.header {
			background: var(--surface);
			display: table-row-group;
			width: 100%;
			transition: all 0.2s ease-in-out;

			&.loading {
				opacity: 0.65;
			}

			li {
				display: table-cell;
				padding: 0.625rem 0;
				border-top: 1px solid var(--outline);
				border-bottom: 1px solid var(--outline);
			}

			li:first-child {
				// border-top-left-radius: 20px;
				border-left: 1px solid var(--outline);
			}

			li:last-child {
				// border-top-right-radius: 20px;
				border-right: 1px solid var(--outline);
			}
		}
	}
}
