@mixin properties() {
	--text-color: #fff;

	--primary: #1d7a90;
	--primary-container: #006981e7;
	--on-primary: #fff;
	--on-primary-container: var(--primary-90);
	--inverse-primary: var(--primary-40);
	--secondary: #67727e;
	--secondary-container: var(--secondary-30);
	--on-secondary: #fff;
	--on-secondary-container: var(--secondary-90);
	--tertiary: var(--tertiary-80);
	--tertiary-container: var(--tertiary-30);
	--on-tertiary: var(--tertiary-20);
	--on-tertiary-container: var(--tertiary-90);

	--surface: #18181a;
	--surface-dim: var(--neutral-6);
	--surface-bright: var(--neutral-25);
	--surface-container-lowest: var(--neutral-4);
	--surface-container-low: var(--neutral-10);
	--surface-container: var(--neutral-12);
	--surface-container-high: var(--neutral-20);
	--surface-container-highest: var(--neutral-22);
	--surface-variant: #1a1a1a;

	--on-surface: var(--neutral-90);
	--on-surface-variant: var(--neutral-variant-80);
	--inverse-surface: var(--neutral-90);
	--inverse-on-surface: var(--neutral-20);

	--background: var(--neutral-6);
	--on-background: var(--neutral-90);
	--error: var(--error-80);
	--error-container: var(--error-30);
	--on-error: var(--error-20);
	--on-error-container: var(--error-90);
	--outline: var(--neutral-variant-60);
	--outline-variant: var(--neutral-variant-30);
	--shadow: var(--neutral-0);
	--box-shadow-pui: 0px 3px 8px var(--shadow);
	--surface-tint-color: var(--md.sys.color.primary);
	--scrim: var(--neutral-0);
	--box-shadow: 0px 3px 8px #00000066;

	--on-info: #fff;
	--info: hsla(211, 88%, 53%, 1);

	--success: #007e33;
	--on-success: #fff;

	--primary-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--secondary-shadow: -5px 12px 2px 3px #58585833;
	--modal-background-color: rgba(0, 0, 0, 0.5);
}
