@mixin properties() {
	--text-color: hsl(0, 0%, 10%);
	--primary: #0d47a1;
	--primary-container: #bbdefb;
	--on-primary: #fff;
	--on-primary-container: #bdbdbd;
	--inverse-primary: #bbdefb;
	--secondary: #b71c1c;
	--secondary-container: #ffcdd2;
	--on-secondary: #fff;
	--on-secondary-container: #b71c1c;
	--tertiary: #1b5e20;
	--tertiary-container: #c8e6c9;
	--on-tertiary: #1b5e20;
	--on-tertiary-container: #1b5e20;
	--surface: #fff;
	--surface-dim: #eeeeee;
	--surface-bright: #e0e0e0;
	--surface-container-lowest: #bdbdbd;
	--surface-container-low: #9e9e9e;
	--surface-container: #757575;
	--surface-container-high: #616161;
	--surface-container-highest: #424242;
	--surface-variant: #f9fafc;
	--on-surface: #212121;
	--on-surface-variant: #757575;
	--inverse-surface: #757575;
	--inverse-on-surface: #bdbdbd;
	--background: hsl(210, 40%, 96%);
	--on-background: #212121;
	--error: #b71c1c;
	--error-container: #ffcdd2;
	--on-error: #b71c1c;
	--on-error-container: #b71c1c;
	--outline: #e4e4e4;
	--outline-variant: #e0e0e0;
	--shadow: #000;
	--box-shadow-pui: 0px 3px 8px var(--shadow);
	--surface-tint-color: var(--primary);
	--scrim: #000;
	--box-shadow: 0px 2px 8px #58585833;

	--primary-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--modal-background-color: rgba(0, 0, 0, 0.5);
}
