@mixin properties() {
	--text-color: hsl(0, 0%, 10%);
	--primary: #1d7a90;
	--primary-container: #006981e7;
	--on-primary: #fff;
	--on-primary-container: #bdbdbd;
	--inverse-primary: #bbdefb;
	--secondary: #67727e;
	--secondary-container: #ffcdd2;
	--on-secondary: #fff;
	--on-secondary-container: #b71c1c;
	--tertiary: #1b5e20;
	--tertiary-container: #c8e6c9;
	--on-tertiary: #1b5e20;
	--on-tertiary-container: #1b5e20;
	--surface: #fff;
	--surface-dim: #eeeeee;
	--surface-bright: #e0e0e0;
	--surface-container-lowest: #bdbdbd;
	--surface-container-low: #9e9e9e;
	--surface-container: #757575;
	--surface-container-high: #616161;
	--surface-container-highest: #424242;
	--surface-variant: #f9fafc;
	--on-surface: #212121;
	--on-surface-variant: #757575;
	--inverse-surface: #757575;
	--inverse-on-surface: #bdbdbd;
	--background: hsl(210, 40%, 96%); // hsl(210, 40%, 96%);
	--on-background: #212121;

	--outline: #e4e4e4;
	--outline-variant: #e0e0e0;
	--shadow: #000;
	--box-shadow-pui: 0px 3px 8px var(--shadow);
	--surface-tint-color: var(--primary);
	--scrim: #000;
	--box-shadow: 0px 2px 8px #58585833;

	--on-info: #fff;
	--info: hsla(211, 88%, 53%, 1);

	--success: #007e33;
	--on-success: #fff;

	--primary-shadow: 0px 2px 8px #58585833;
	--secondary-shadow: -5px 12px 2px 3px #58585833;
	--modal-background-color: rgba(0, 0, 0, 0.5);

	// primaries
	--error: #b71c1c;
	--on-error: #fff;

	--warning: #fcc678;
	--on-warning: #955c0a;
}
