@mixin properties() {
	--text-color: #000;
	--primary: #0d47a1;
	--primary-container: #bbdefb;
	--on-primary: #fff;
	--on-primary-container: #0d47a1;
	--inverse-primary: #bbdefb;
	--secondary: #b71c1c;
	--secondary-container: #ffcdd2;
	--on-secondary: #fff;
	--on-secondary-container: #b71c1c;
	--tertiary: #1b5e20;
	--tertiary-container: #c8e6c9;
	--on-tertiary: #1b5e20;
	--on-tertiary-container: #1b5e20;
	--surface: #f5f5f5;
	--surface-dim: #eeeeee;
	--surface-bright: #e0e0e0;
	--surface-container-lowest: #bdbdbd;
	--surface-container-low: #9e9e9e;
	--surface-container: #757575;
	--surface-container-high: #616161;
	--surface-container-highest: #424242;
	--surface-variant: #e0e0e0;
	--on-surface: #212121;
	--on-surface-variant: #757575;
	--inverse-surface: #757575;
	--inverse-on-surface: #bdbdbd;
	--background: #f5f5f5;
	--on-background: #212121;
	--error: #b71c1c;
	--error-container: #ffcdd2;
	--on-error: #b71c1c;
	--on-error-container: #b71c1c;
	--outline: #bdbdbd;
	--outline-variant: #e0e0e0;
	--shadow: #000;
	--box-shadow-pui: 0px 3px 8px var(--shadow);
	--surface-tint-color: var(--primary);
	--scrim: #000;
}
