.list-view {
	.actions-container {
		.column-selector {
			.column-selector-toggler {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.5rem;

				p {
					color: var(--on-primary);
				}

				svg {
					stroke: var(--on-primary);
					width: 20px;
					height: 20px;
				}
			}

			.essential-dialog {
				.modal {
					right: 0;
				}
			}
		}
	}
}
