.list-view {
	.actions-container {
		button.generate-report {
			background: var(--success-80);
			border-radius: 5px;
			padding: 0.5rem;

			.button-label {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				svg {
					width: 21px;
					height: 21px;
					fill: var(--on-primary);
				}
			}

			&:hover {
				background: var(--success-70);
			}
		}
	}
}
