.list-view {
	.actions-container {
		.reports-container {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			button.generate-report {
				border-radius: var(--border-tertiary);
				padding: 0 0.5rem;
				background: transparent;
				border: 1px solid var(--success-70);

				.button-label {
					display: flex;
					align-items: center;
					gap: 0.5rem;

					svg {
						width: 20px;
						height: 20px;
						fill: var(--success-70);
					}
				}

				&:hover {
					background: var(--success-70);

					.button-label {
						svg {
							fill: var(--on-primary);
						}
					}
				}
			}

			.essential-dialog {
				button.generate-report {
					border-radius: var(--border-tertiary);
					padding: 0 0.5rem;
					background: transparent;
					border: 1px solid var(--success-70);

					.button-label {
						display: flex;
						align-items: center;
						gap: 0.5rem;

						svg {
							width: 20px;
							height: 20px;
							stroke: var(--success-70);
							fill: transparent;
						}
					}

					&:hover {
						background: var(--success-70);

						.button-label {
							svg {
								stroke: var(--on-primary);
								fill: transparent;
							}
						}
					}
				}

				.modal {
					right: 5%;
					min-width: 150px;
					display: flex;
					flex-direction: column;

					ul {
						display: flex;
						flex-direction: column;
						gap: 0.5rem;

						li {
							button.generate-report-option {
								width: 100%;
								min-height: 0;
								padding: 0.2rem 0.5rem;

								&:hover {
									background: var(--surface-variant);
								}

								.button-label {
									font-size: 0.9rem;
									display: flex;
									align-items: center;
									gap: 0.5rem;

									svg {
										width: 20px;
										height: 20px;
										fill: var(--success-70);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
