.list-view {
	.actions-container {
		.reports-container {
			button.import {
				border-radius: var(--border-tertiary);
				padding: 0 0.5rem;
				background: transparent;
				border: 1px solid var(--success-70);

				.button-label {
					display: flex;
					align-items: center;
					gap: 0.5rem;

					svg {
						width: 20px;
						height: 20px;
						fill: var(--success-70);
					}
				}

				&:hover {
					background: var(--success-70);

					.button-label {
						svg {
							fill: var(--on-primary);
						}
					}
				}
			}
		}
	}
}
