.select {
	&.open {
		.essential-dialog {
			.pui-button.btn-primary {
				border: 2px solid var(--primary);
			}
		}
	}

	.essential-dialog {
		.pui-button.btn-primary {
			width: 100%;
			text-align: left;
			padding: 0 0.5rem;
			background: var(--surface);
			border: 2px solid var(--outline);

			.button-label {
				position: relative;
				color: var(--on-surface);

				.select-icon {
					position: absolute;
					right: 0.3rem;
					top: 3px;
					transition: all 0.2s ease;

					&.open {
						transform: rotate(-180deg);
					}
				}
			}
		}
	}
}
