.main-layout-header {
	.profile {
		.dialog-toggler {
			padding: 0;

			.settings-toggler {
				display: flex;
				align-items: center;
				gap: 0.2rem;

				.arrow-toggler {
					width: 20px;
					height: 20px;
					stroke: var(--on-surface);
				}

				.profile-image {
					width: 38px;
					height: 38px;
					border-radius: 15%;
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;

					picture {
						display: flex;
						width: 100%;
						height: 100%;
						overflow: hidden;
					}
				}
			}
		}

		.modal {
			right: 0;
			min-width: 150px;
			padding: 0.5rem 0;
			border-top-left-radius: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;

			.option {
				font-weight: normal;
				display: flex;
				align-items: center;
				width: 100%;
				color: var(--on-surface);

				&:hover {
					background: var(--primary);
					opacity: 0.9;
					color: var(--on-primary);
				}

				.button-label {
					font-size: 0.95rem;
					display: flex;
					align-items: center;
					gap: 0.5rem;

					svg {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}
}
