footer.list-view-paginator {
	.paginator {
		display: flex;
		align-items: center;
		border-radius: 5px;
		overflow: hidden;
		width: -moz-fit-content;
		width: fit-content;

		.panel {
			background: var(--primary);
			display: flex;
			align-items: center;
			min-width: min-content;

			p {
				color: var(--on-primary);
				padding: 5.5px;
				display: flex;
				align-items: center;
				min-width: min-content;

				.to {
					color: var(--on-primary-container);
				}
			}
		}

		.action {
			background: var(--primary);
			display: flex;
			align-items: center;

			button {
				padding: 0 0.5rem;
				border-radius: 0;

				&.left {
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
				}

				&.right {
					border-top-right-radius: 20px;
					border-bottom-right-radius: 20px;
				}

				.button-label {
					display: flex;
					align-items: center;

					svg {
						fill: none;
						stroke: var(--on-primary);
						width: 1.2rem;
						height: 1.2rem;
					}
				}
			}
		}
	}
}
