.list-view {
	width: 100%;
	display: grid;
	gap: 20px;
	background: var(--surface);
	padding: 1.7rem 1.2rem;
	border-radius: 10px;
	box-shadow: var(--primary-shadow);

	.list-container {
		overflow: hidden;
		position: relative;
		width: 100%;
		border-bottom: 1px solid var(--outline);

		&.default {
			display: table;
		}

		&.fetching {
			.essential-spinner {
				position: absolute;
				top: 45%;
				left: 50%;
				right: 50%;
				bottom: 50%;
			}
		}
	}
}
