.list-view {
	width: 100%;
	display: grid;
	gap: 20px;

	.list-container {
		overflow: hidden;
		position: relative;
		width: 100%;

		&.default {
			display: table;
		}

		&.fetching {
			.essential-spinner {
				position: absolute;
				top: 45%;
				left: 50%;
				right: 50%;
				bottom: 50%;
			}
		}
	}
}
