.modal-background {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--modal-background-color);
	display: flex;
	justify-content: center;
	align-items: center;

	.modal-content {
		margin: auto 2rem;
		width: 100%;
		max-width: 24rem;
		padding: 1.5rem;
		background-color: var(--surface);
		border-radius: 0.375rem;
		box-shadow: var(--modal-outline-shadow);
	}
}
