.main-layout {
	min-height: 100vh;
	min-width: 100vw;
	width: 100%;
	display: flex;

	.content {
		background: var(--background);
		padding: 0.5rem;
	}

	&:has(.main-layout-sidebar.collapsed) {
		.content {
			padding: 1.25rem;
		}
	}

	// &:empty {
	// 	background: blue;
	// }
}
