.main-layout {
	min-height: 100vh;
	min-width: 100vw;
	width: 100%;
	display: flex;

	.content {
		background: var(--background);
		width: calc(100% - 250px);
		padding: 1.25rem;
	}

	&:has(.main-layout-sidebar.collapsed) {
		.content {
			width: calc(100% - 50px);
		}
	}

	&:empty {
		background: blue;
	}
}
