.error-view {
	article {
		background: var(--surface);
		box-shadow: var(--primary-shadow);
		border-radius: var(--border-primary);

		width: 800px;
		height: 220px;

		padding: 2rem;

		display: flex;
		align-items: center;
		gap: 2rem;

		.logo-container {
			figure {
				border: 1px solid var(--outline);
				border-radius: 20px;
				width: 150px;
				height: 150px;
				overflow: hidden;
			}
		}

		.content {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			h1 {
				font-size: 2rem;
			}

			.actions {
				display: flex;
				justify-content: end;
			}
		}
	}
}
