.login-view.auth-view {
	.left-section {
		background: var(--background);
		display: flex;
		align-items: center;
		justify-content: center;

		article {
			background: var(--surface);
			width: 450px;
			min-width: 300px;
			min-height: 500px;
			padding: 2.5rem;
			border-radius: var(--border-primary);
			box-shadow: var(--primary-box-shadow);
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 2.5rem;

			span {
				font-size: 0.8rem;
				font-style: normal;
				font-weight: 400;
				line-height: 1.375rem;
				letter-spacing: 0.03rem;
			}

			h1 {
				font-size: 3rem;
				font-weight: 600;
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 2.5rem;

				button {
					border-radius: 5px;

					.button-label {
						color: var(--on-primary);
					}
				}
			}

			.pui-button.btn-outline.btn--md {
				.button-label {
					color: var(--on-surface);
				}
			}

			.or-container {
				display: flex;
				align-items: center;
				gap: 5px;

				div {
					background: var(--inverse-surface);
					min-height: 0;
					height: 0.5px;
					flex: 1;
					opacity: 0.5;
				}
				span {
					font-size: 0.8rem;
					color: var(--inverse-surface);
				}
			}
		}
	}
}
