.login-view.auth-view {
	display: grid;
	grid-template-columns: 60% 40%;

	.right-section {
		background: var(--primary);
		position: relative;
		display: flex;
		align-items: center;

		img {
			position: absolute;

			&.illustration-0 {
				width: 500px;
				bottom: 150px;
				left: -100px;
			}

			&.illustration-1 {
				width: 650px;
				bottom: 220px;
				left: -120px;
			}

			&.illustration-2 {
				width: 400px;
				bottom: 160px;
				left: -50px;
			}

			&.illustration-3 {
				width: 700px;
				bottom: 150px;
				left: -120px;
			}
		}
	}

	.background-section {
		height: 100%;
		min-height: 100vh;
	}
}

@media (max-width: 1224px) {
	.login-view.auth-view {
		display: flex;
		flex-direction: column-reverse;

		.right-section {
			display: none;
			img {
				display: none;
			}
		}
	}
}
