.welcome-widget {
	box-shadow: var(--primary-shadow);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 7rem;
	border-radius: var(--border-primary);
	overflow: hidden;
	background: var(--surface);

	h2 {
		font-size: 1.2rem;
	}

	p {
		font-size: 0.8rem;
	}

	.welcome-bg-ilustration {
		position: absolute;
		bottom: -145px;
		right: 0;
		left: 0;

		.path-0 {
			animation: pathAnim-0 4s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}

	h2 {
	}
}

@keyframes pathAnim-0 {
	0% {
		d: path(
			'M 0,400 L 0,0 C 171.46666666666664,43.46666666666667 342.9333333333333,86.93333333333334 503,113 C 663.0666666666667,139.06666666666666 811.7333333333333,147.73333333333335 966,126 C 1120.2666666666667,104.26666666666665 1280.1333333333332,52.133333333333326 1440,0 L 1440,400 L 0,400 Z'
		);
	}
	25% {
		d: path(
			'M 0,400 L 0,0 C 201.59999999999997,105.46666666666667 403.19999999999993,210.93333333333334 566,221 C 728.8000000000001,231.06666666666666 852.8,145.73333333333332 992,93 C 1131.2,40.26666666666667 1285.6,20.133333333333336 1440,0 L 1440,400 L 0,400 Z'
		);
	}
	50% {
		d: path(
			'M 0,400 L 0,0 C 110.80000000000001,32.266666666666666 221.60000000000002,64.53333333333333 410,96 C 598.4,127.46666666666667 864.4000000000001,158.13333333333333 1049,142 C 1233.6,125.86666666666666 1336.8,62.93333333333333 1440,0 L 1440,400 L 0,400 Z'
		);
	}
	75% {
		d: path(
			'M 0,400 L 0,0 C 197.7333333333333,45.86666666666666 395.4666666666666,91.73333333333332 529,115 C 662.5333333333334,138.26666666666668 731.8666666666667,138.93333333333334 873,116 C 1014.1333333333333,93.06666666666665 1227.0666666666666,46.533333333333324 1440,0 L 1440,400 L 0,400 Z'
		);
	}
	100% {
		d: path(
			'M 0,400 L 0,0 C 171.46666666666664,43.46666666666667 342.9333333333333,86.93333333333334 503,113 C 663.0666666666667,139.06666666666666 811.7333333333333,147.73333333333335 966,126 C 1120.2666666666667,104.26666666666665 1280.1333333333332,52.133333333333326 1440,0 L 1440,400 L 0,400 Z'
		);
	}
}
