	.pui-select {
		cursor: pointer;

		label {
			font-size: 0.85rem;
		}

		.css-b62m3t-container {
			border-radius: var(--border-tertiary);

			.pui-react-select__control.css-13cymwt-control,
			.pui-react-select__control--is-focused {
				border: 1px solid transparent;

				.pui-react-select__value-container {
					.pui-react-select__multi-value {
						background: var(--surface);

						.pui-react-select__multi-value__label {
							color: var(--on-background);
						}

						.css-tj5bde-Svg {
							fill: var(--on-surface);
						}
					}
				}
			}

			.pui-react-select__control--is-focused {
				box-shadow: none;
				border-color: var(--primary);
			}
			.pui-react-select__control {
				max-height: none;
			}

			.pui-react-select__menu-list {
				background: var(--surface);
				box-shadow: 0px 7px 8px #58585805;

				.pui-react-select__option {
					color: var(--on-surface);
				}
			}
		}
	}
