.totals-widget {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.25rem;

	.total {
		background: var(--surface);
		border-radius: var(--border-primary);
		display: flex;
		height: 7rem;
		flex: 1;

		a {
			display: flex;
			align-items: center;
			padding: 0.75rem;
			gap: 0.75rem;

			.icon {
				width: 3rem;
				height: 3rem;
			}

			.content {
				display: flex;
				flex-direction: column;

				p {
					font-size: 0.875rem;
					line-height: 1.25rem;
				}

				h3 {
					font-size: 1.5rem;
					font-weight: 500;
				}
			}
		}
	}
}
