button,
button.pui-button {
	cursor: pointer;
	background: transparent;
	border: 0;
	width: inherit;
	border-radius: 5px;

	&.btn--loading {
		.button-label {
			opacity: 0;
		}
	}

	.button-label {
		font-size: 0.9rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

button.pui-button.btn-primary,
.btn.btn-primary {
	background: var(--primary);
	font-weight: normal;

	.button-label {
		font-weight: normal;
		color: var(--on-primary);
	}
}

button.pui-button.bordered {
	&.btn-primary {
		border: 1px solid var(--primary);
		background: transparent;

		&:hover {
			background: var(--primary);
			border: 1px solid transparent;
			color: var(--on-primary);
			.button-label {
				color: var(--on-primary);
			}
		}

		.button-label {
			color: var(--primary);
		}
	}

	&.btn-secondary {
		border: 1px solid var(--secondary);
		background: transparent;

		&:hover {
			background: var(--secondary);
			border: 1px solid transparent;
			color: var(--on-secondary);
			.button-label {
				color: var(--on-secondary);
			}
		}

		.button-label {
			color: var(--secondary);
		}
	}
}
