button,
button.pui-button {
	cursor: pointer;
	background: transparent;
	border: 1px solid transparent;
	width: inherit;
	border-radius: 5px;

	&.btn--loading {
		.button-label {
			opacity: 0;
		}
	}

	.button-label {
		font-size: 0.9rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

button.pui-button.btn-primary,
.btn.btn-primary {
	background: var(--primary);
	font-weight: normal;
	border: 1px solid transparent;

	.button-label {
		font-weight: normal;
		color: var(--on-primary);
	}

	&:focus,
	&:hover:not(:disabled) {
		background: var(--primary-20);
		border: 1px solid transparent;
		color: var(--on-primary);
		.button-label {
			color: var(--on-primary);
		}
	}
}

button.pui-button.btn-secondary,
.btn.btn-secondary {
	background: var(--secondary);
	font-weight: normal;
	border: 1px solid transparent;

	&:focus,
	&:hover:not(:disabled) {
		background: var(--secondary-10);
		border: 1px solid transparent;
		color: var(--on-secondary);
		.button-label {
			color: var(--on-secondary);
		}
	}
}

button.pui-button.bordered {
	&.btn-primary {
		border: 1px solid var(--primary);
		background: transparent;

		&:focus,
		&:focus-withing,
		&:hover {
			background: var(--primary);
			border: 1px solid transparent;
			color: var(--on-primary);
			.button-label {
				color: var(--on-primary);
			}
		}

		.button-label {
			color: var(--primary);
		}
	}

	&.btn-secondary {
		border: 1px solid var(--secondary);
		background: transparent;

		&:focus-withing,
		&:focus,
		&:hover:not(:disabled) {
			background: var(--secondary);
			border: 1px solid transparent;
			color: var(--on-secondary);
			.button-label {
				color: var(--on-secondary);
			}
		}

		.button-label {
			color: var(--secondary);
		}
	}
}
