button {
	cursor: pointer;
	background: transparent;
	border-radius: 0;
	border: 0;

	&.btn--loading {
		.button-label {
			opacity: 0;
		}
	}
}

button.pui-button.btn-primary,
.btn.btn-primary {
	font-weight: normal;
	border-radius: 5px;

	.button-label {
		font-weight: normal;
		color: var(--on-primary);
	}
}
