div.pui-element-input {
	border: 1px solid hsl(217.2 32.6% 17.5%);
	border-radius: 5px;
	margin: 0;

	label {
		font-size: 0.85rem;
		left: 0.5rem;
		padding: 0;
		display: flex;
		align-items: center;
		text-transform: capitalize;
		color: var(--text-color);
		transition: all 0.3s linear;
	}

	&:focus-within label,
	input:not(:placeholder-shown) ~ label {
		background: transparent;
		padding: 0;
		top: -25px;
		left: 0.5rem;
		color: var(--text-color);
	}
}
