div.pui-input {
	position: relative;
	border-radius: 2px;
	margin: 0;
	transition: all 0.2s linear;

	input {
		border: 1px solid transparent;
		background: var(--background);
		border-radius: 2px;
	}

	.pui-input__label {
		height: 100%;
		position: absolute;
		font-size: 0.85rem;
		left: 0.5rem;
		padding: 0;
		display: flex;
		align-items: center;
		text-transform: capitalize;
		color: var(--text-color);
		transition: all 0.2s ease-out;
	}

	&:focus-within .pui-input__label,
	input:not(:placeholder-shown) ~ .pui-input__label {
		background: transparent;
		padding: 0;
		left: 0.5rem;
		color: var(--text-color);
		transform: translateY(-35px);
	}
}
