.pui-tabs-container {
	.pui-tabs-menu {
		.tabs {
			background: var(--background);
			justify-content: start;
			border-top: 4px solid var(--background);

			.tab {
				background: var(--background);
				padding: 0.6rem 1rem;
				font-size: 0.8rem;
				width: auto;
				min-width: 200px;
				opacity: 0.4;

				&.active {
					background: var(--surface);
					opacity: 1;
					font-weight: 600;
					border-top-right-radius: var(--border-tertiary);

					&:not(&:first-child) {
						border-top-left-radius: var(--border-tertiary);
					}
				}

				&::before {
					content: '';
					display: none;
				}
			}
		}
	}
}
