.essential-spinner-page {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	&:not(:has(.brand)) {
		min-height: 85vh;
	}

	.brand-name {
		font-family: var(--brand-font);

		.sub-name {
			font-family: var(--brand-font);
			font-weight: normal;
		}
	}
}
