.essential-spinner-page {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.brand-name {
		font-family: var(--brand-font);

		.sub-name {
			font-family: var(--brand-font);
			font-weight: normal;
		}
	}
}
