* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

a,
input,
button,
textarea,
select,
option {
	outline: 1px solid transparent !important;

	&:focus-within {
		outline: 1px solid var(--primary) !important;
	}
}
