* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	font-size: 1rem;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}
