.main-layout {
	nav.main-layout-sidebar {
		header {
			.identifier {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				.logo-container {
					width: 38px;
					height: 38px;

					overflow: hidden;
					aspect-ratio: 1/1;

					.logo {
						width: 100%;
						height: 100%;

						img {
							height: auto;
						}
					}
				}

				h1 {
					color: var(--on-surface);
					font-size: 1.3rem;
					font-weight: 750;
					font-family: var(--brand-font);
				}
			}
		}
	}
}
