.main-layout {
	nav.main-layout-sidebar {
		header {
			.identifier {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				.logo-container {
					width: 32px;
					height: 32px;

					overflow: hidden;
					aspect-ratio: 1/1;

					.logo {
						width: 100%;
						height: 100%;

						img {
							height: auto;
						}
					}
				}

				h1 {
					color: var(--on-surface);
					font-size: 0.92rem;
					font-weight: 750;
					font-family: var(--brand-font);

					.sub-name {
						font-weight: normal;
						font-size: 0.8rem;
						font-family: var(--brand-font);
					}
				}
			}

			.collapsible-container {
				.collapse-btn {
					background: var(--surface);
					border-radius: 50%;
					padding: 5px 5px;
					transform: translateX(22px);
					transition: all 0.2s ease-in-out;
					min-height: 0;

					svg {
						stroke: var(--on-surface);
					}

					&.collapsed {
						.button-label {
							display: flex;
							align-items: center;

							svg {
								transform: rotateY(180deg);
								width: 18px;
								height: 18px;
							}
						}
					}
				}
			}
		}
	}
}
