.main-layout {
	nav.main-layout-sidebar {
		.sidebar-content {
			ul {
				.sidebar-item {
					border-radius: 5px;
					overflow: hidden;
					cursor: pointer;
					transition: all 0.1s ease-in-out;
					color: var(--outline);
					border: 2px solid transparent;
					outline: 1px solid transparent;

					&:focus-within {
						outline: 1px solid var(--primary);
					}

					&:hover {
						background: var(--primary);
						opacity: 0.9;
						color: var(--on-primary);

						.sidebar-item-link,
						.sidebar-item-button {
							.icon svg {
								stroke: var(--on-primary);
							}
							span {
								color: var(--on-primary);
							}
						}
					}

					&.selected {
						background: var(--primary);
						color: var(--on-primary);

						.sidebar-item-link,
						.sidebar-item-button {
							.icon svg {
								stroke: var(--on-primary);
							}
							span {
								color: var(--on-primary);
							}
						}
					}

					.sidebar-item-link,
					.sidebar-item-button {
						width: 100%;
						padding: 0.4rem 0.5rem;
						display: flex;
						align-items: center;
						gap: 0.5rem;

						.icon {
							width: 22px;
							height: 22px;
							aspect-ratio: 1/1;
							display: flex;
							align-items: center;

							svg {
								width: 22px;
								height: 22px;
								fill: transparent;
								stroke: var(--on-surface);
								stroke-width: 1.5px;
								aspect-ratio: 1/1;
							}
						}
					}
				}
			}
		}
	}
}
