.filters {
	position: relative;

	.filter-toggler {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;

		p {
			color: var(--on-primary);
		}

		svg {
			stroke: var(--on-primary);
			width: 20px;
			height: 20px;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		input {
			font-size: 0.8rem;
			padding: 0.3rem 0.5rem;
		}

		.actions {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 0.5rem;
		}
	}
}
