$sizings: (
	'0': 0px,
	'1px': 1px,
	'1': 0.25rem,
	'2': 0.5rem,
	'3': 0.75rem,
	'4': 1rem,
	'5': 1.25rem,
	'6': 1.5rem,
	'7': 1.75rem,
	'8': 2rem,
	'9': 2.25rem,
	'10': 2.5rem,
	'11': 2.75rem,
	'12': 3rem,
	'14': 3.5rem,
	'16': 4rem,
	'20': 5rem,
	'24': 6rem,
	'28': 7rem,
	'32': 8rem,
	'36': 9rem,
	'40': 10rem,
	'44': 11rem,
	'48': 12rem,
	'52': 13rem,
	'56': 14rem,
	'60': 15rem,
	'64': 16rem,
	'72': 18rem,
	'80': 20rem,
	'96': 24rem,
	'auto': auto,
	'full': 100%,
	'screen': 100vw,
	'svw': 100svw,
	'lvw': 100lvw,
	'dvw': 100dvw,
	'min': min-content,
	'max': max-content,
	'fit': fit-content,
);

@each $key, $value in $sizings {
	.w-#{$key} {
		width: $value;
	}
}

@each $name, $value in $sizings {
	.h-#{$name} {
		height: $value;
	}
}
