.main-layout {
	nav.main-layout-sidebar {
		background: var(--neutral-4);
		width: 100%;
		min-width: 100vw;
		min-height: 100vh;
		overflow: hidden;
		padding: 10px 15px;

		.sidebar-content {
			width: 225px;
			height: 100%;
			padding: 0 15px 0 0;
			display: flex;
			flex-direction: column;
			gap: 2rem;

			ul {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
			}
		}
	}
}
