.main-layout {
	nav.main-layout-sidebar {
		background: var(--neutral-4);
		width: 100%;
		min-width: 100vw;
		height: 100%;
		min-height: 100vh;
		overflow: hidden;
		padding: 10px 15px;

		.sidebar-content {
			width: 225px;
			height: 100%;
			min-height: 100vh;
			padding: 0 15px 0 0;
			display: flex;
			flex-direction: column;
			gap: 2rem;

			.sidebar-content-container {
				height: 100%;
				display: grid;
				grid-template-rows: 80% 20%;

				ul {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
				}

				.sidebar-loading {
					margin: -5rem 0 0 0;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					width: 100%;

					svg {
						fill: var(--on-primary);
						width: 20px;
						height: 20px;
						animation: rotate 0.5s ease-in-out infinite 0s, 6s ease-in-out infinite -0.75s;
					}
				}
			}
		}
	}
}

@-webkit-keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
